@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "flowbite/dist/flowbite";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }
}

@layer components {
  .hide-caret {
    caret-color: transparent;
  }

  /* styles.css */

  /* Container to ensure proper layout */
  .app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
  }

  /* Navbar placeholder space */
  .navbar-placeholder {
    height: 4rem; /* Same as the Navbar height */
  }

  /* Scrollable content container */
  .content-container {
    flex-grow: 1;
    overflow-y: auto;
    padding-right: 1rem; /* Ensure there's space for the scrollbar */
  }

  /* Optional: Customize scrollbar appearance */
  .content-container::-webkit-scrollbar {
    width: 12px; /* Adjust width if needed */
  }

  .content-container::-webkit-scrollbar-thumb {
    background-color: #888; /* Customize scrollbar color */
    border-radius: 6px;
  }

  .content-container::-webkit-scrollbar-track {
    background: #f1f1f1; /* Customize scrollbar track color */
  }
}

/* src/assets/styles.css */
